body {
    font-family: 'Helvetica';
    background: #f1f1f1;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
}

header {
    background: #4a69bd;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.spinner {
    display: none;
}
.spinner > div {
    background: #38ada9;
}

.synopsis-container {
    background: #6a89cc;
    width: 100%;
    text-align: center;
    color: white;
}

.repositories-form {
    background: #82ccdd;
    width: 100%;
    flex-shrink: 0;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.repositories-form select {
    padding: 5px;
}

.order-buttons {
    width: 50px;
    height: 40px;
    margin-left: 5px;
    background: #f9f9f9;
    border: 1px solid #dddddd;
}
.order-buttons.selected {
    font-weight: bold;
    border: 1px solid #999999;
}

.choices {
    color: black;
    width: 450px;
    margin-bottom: 0;
    display: inherit;
}
.choices__list--dropdown .choices__item--selectable {
    padding-right: 0;
}
.choices .choices__list .choices__list .choices__item--disabled { text-indent: -9999px; height: 0; width: 0; padding: 0; }
.choices__inner {
    min-height: 20px;
}
.choices__list--dropdown {
    z-index: 2;
}
.list-stars {
    float: right;
    margin-right: 5px; 
}
.list-stars-selected {
    margin-right: 30px;
}
.repo-name {
    position: absolute;
    left: 35px;
}
.octicon {
    margin: 0 5px 0 0;
    position: absolute;
}

#visualization {
    flex-grow: 2;
    overflow-y: auto;
}

footer {
    background: #4a69bd;
    font-size: 0.8em;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer a {
    color: #38ada9;
}

/* alternating column backgrounds */

.vis-time-axis .vis-grid.vis-odd {
    background: #f5f5f5;
}

.vis-panel .vis-label,
.vis-time-axis .vis-major {
    font-weight: bold;
}

/* Notifier */

.notifier-container {
    top: initial;
    bottom: 5px;
}