body {
    font-family: 'Helvetica';
    background: #f1f1f1;
}

.title,
.synopsis {
    text-align: center;
}

/* alternating column backgrounds */

.vis-time-axis .vis-grid.vis-odd {
    background: #f5f5f5;
}

.vis-panel .vis-label,
.vis-time-axis .vis-major {
    font-weight: bold;
}