body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

header {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.spinner {
    display: none;
}

.synopsis-container {
    width: 100%;
    text-align: center;
    color: white;
}
.synopsis {
    font-style: italic;
}
.repositories-form {
    width: 100%;
    flex-shrink: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.repositories-form select {
    padding: 5px;
    width: 450px;
    height: 40px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 2.5px;
}

.repositories-form .github-link {
    cursor: pointer;
    margin-right: 10px;
    opacity: 0;
}

.order-buttons {
    width: 50px;
    height: 40px;
    margin-left: 5px;
    background: #f9f9f9;
    border: 1px solid #dddddd;
}
.order-buttons.selected {
    font-weight: bold;
    border: 1px solid #999999;
}

.choices {
    color: black;
    width: 450px;
    height: 40px;
    margin-bottom: 0;
    display: inherit;
}
.choices__list--dropdown .choices__item--selectable {
    padding-right: 0;
}
.choices .choices__list .choices__list .choices__item--disabled { text-indent: -9999px; height: 0; width: 0; padding: 0; }
.choices__inner {
    min-height: 20px;
}
.choices__list--dropdown {
    z-index: 2;
    width: calc(100% - 2px);
}

.list-stars {
    float: right;
    margin-right: 5px; 
    margin-top: -2px;
}
.list-stars-selected {
    margin-right: 30px;
}

.repo-name {
    position: absolute;
    left: 35px;
}
.octicon {
    margin: 0 5px 0 0;
    position: absolute;
}

.error-parsing-message {
    background: #fff3cd;
    border: 1px solid #ffeeba;
    padding: .75rem 1.25rem;
    color: #856404;
    margin-top: 8px;
    text-align: center;
}

/* Main vizualisation */

#visualization {
    flex-grow: 2;
    overflow-y: auto;
}
#visualization.html, .swal2-markdown #swal2-content {
    padding: 5px 15px;
    color: #333333;
}
#visualization.html li, .swal2-markdown #swal2-content li {
    line-height: 1.5;
}
#visualization.html a, .swal2-markdown #swal2-content a {
    color: #4078c0;
    text-decoration: none;
}

#visualization.html h2, #visualization.html h3, .swal2-markdown #swal2-content h2, .swal2-markdown #swal2-content h3 {
    color: #333333;
}

#visualization.html h1, .swal2-markdown #swal2-content h1 {
    border-bottom: 1px solid #eaecef;
    padding-bottom: 0.3em;
    font-size: 1.5em;
}

#visualization.html h3, .swal2-markdown #swal2-content h3 {
    font-size: 1.25em;
}

#visualization.html code, #visualization.html tt, .swal2-markdown #swal2-content code, .swal2-markdown #swal2-content tt {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
}

#visualization.html pre, .swal2-markdown #swal2-content pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

#visualization.html pre code, .swal2-markdown #swal2-content pre code, #visualization.html pre tt, .swal2-markdown #swal2-content pre tt {
    background-color: transparent;
}

.vis-timeline {
    border-top: none;
}

.vis-item {
    background-color: #e5f0fb;
    border-color: #84a0c5;
}

.vis-current-time {
    background-color: #e34c26;
}

.vis-item.vis-selected {
    border-color: #f1e05a;
}

/* alternating column backgrounds */

.vis-time-axis .vis-grid.vis-odd {
    background: #f5f5f5;
}

.vis-panel .vis-label,
.vis-time-axis .vis-major {
    font-weight: bold;
}

/* FOOTER */

footer {
    font-size: 0.8em;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
footer .infos {
    display: flex;
    align-items: center;
}
footer .infos > * {
    margin-right: 5px;
}
footer .github-link {
    margin-left: 5px;
}

/* Notifier */

.notifier-container {
    top: initial;
    bottom: 40px;
}

/* modal */

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown), html.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
    height: 100%;
}

.swal2-popup #swal2-content {
    text-align: left;
    font-size: 16px;
}

.swal2-popup {
    border-radius: 0;
}

.swal2-popup .swal2-close:focus, .swal2-markdown #swal2-content a:focus {
    outline: none;
}

.swal2-popup .swal2-close:hover {
    color: #e34c26;
}

/* THEMES */

.theme-blue header {
    background: #4a69bd;
    color: white;
}

.theme-blue .synopsis-container {
    background: #6a89cc;
    color: white;
}

.theme-blue body {
    background: #f6f6f6;
}

.theme-blue .repositories-form {
    background: #82ccdd;
    color:white;
}

.theme-blue footer {
    background: #4a69bd;
    border-top: 1px solid #e5e5e5;
    color: white;
}

.theme-blue footer a {
    color: #38ada9;
}

.theme-blue .spinner > div {
    background: #38ada9;
}



.theme-light header {
    background: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    color: #333333;
}

.theme-light .synopsis-container {
    background: #fafafa;
    color: #586069;
    border-bottom: 1px solid #e2e4e8;
}

.theme-blue body {
    background: #f6f6f6;
}

.theme-light .repositories-form {
    background: #fdfdfd;
    color: #888888;
    border-bottom: 1px solid #e2e4e8;
}

.theme-light footer {
    background: #fafafa;
    border-top: 1px solid #e5e5e5;
    color: #333333;
}

.theme-light footer a {
    color: #4078c0;
}

.theme-light .spinner > div {
    background: #333333;
}

.theme-light .vis-timeline {
    border-bottom: 1px solid #e2e4e8;
}
